@model int
@{
    ViewBag.Title = "404 can't find page";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 not found Error</h4>
    <h5>Student @(Model) info not exit</h5>
</div>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">Click here return to student list</a>